$primary: #cf1322;
$secondary: #c95a64;
$dark: #000000;
$light: #ffffff;

$team-home-primary: #ff4747;
$team-away-primary: #4f7aed;
$filter-background: #1a1a1a;
$pagination-background: #444444;

$match-win-color: #19ad25;
$match-lose-color: #cf1322;
$user-page-primary: #222020;
$admin-menu-background: #1A1A1A
