.header {
  background-color: black;
  z-index: 99;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.navbar {
  padding: 20px 50px;
  .ant-input-search-button {
    cursor: initial !important;
    &:hover {
      border: 0;
    }
    &:focus {
      border: 0;
    }
  }
  &__logo {
    height: auto;
    width: 120px;
    cursor: pointer;
  }
  &__avatar {
    margin-left: 15px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__dropdown_user {
    background-color: black;
    padding: 20px;
    p,
    a {
      cursor: pointer;
      margin-top: 10px;
    }
  }
  &__button--menu {
    border-style: none;
    height: 30px;
    font-size: 20px;
    display: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  &__avatar_reponsive {
    display: none;
  }
  &__user-name {
    color: white;
    b {
      color: $secondary;
      margin-right: 2px;
      letter-spacing: 1px;
    }
  }
  &__user-info {
    background-color: #222020;
    border-radius: 8px;
    padding: 4px 15px;
    margin-left: 15px;
  }
  &__link {
    color: silver;
    margin: 0 15px;
    font-size: 17px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      background-color: $secondary;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -5px;
      transition: 0.3s;
    }
    &:hover::after {
      width: 100%;
    }
    &_active {
      &::after {
        content: "";
        position: absolute;
        background-color: $secondary;
        height: 3px;
        width: 100%;
        left: 0;
        bottom: -10px;
      }
      color: $light;
    }
    &:hover {
      color: $light;
    }
    &__container {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: end;
      &__drawer {
        .navbar__link {
          margin-bottom: 15px;
        }
      }
    }
    &--login {
      color: white;
      background-color: #cf1322;
      padding: 10px 20px;
      text-transform: uppercase;
      border-radius: 4px;
      text-align: center;
      &:hover {
        color: white;
      }
    }
  }
}
.drawer-dark {
  .ant-drawer-body {
    background-color: black;
  }
  .ant-drawer-header {
    background: black;
    border-bottom: 1px solid grey;
  }
  .navbar__link--logout{
    background-color: $primary;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  &__button--close {
    background-color: black;
    i {
      font-size: 17px;
    }
  }
}
.app-search {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  color: black;
}
.search-btn {
  height: 40px;
  width: 45px;
  background-color: #fff;
  border: 1px solid black;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 0;
  cursor: pointer;
  i {
    color: black;
  }
}
@media screen and (max-width: 1400px) {
  .navbar__user-name {
    display: none;
  }
  .navbar__user-info {
    padding: 0;
    background: #000;
    margin-left: 0;
  }
}
@include tablet {
  .navbar__button--menu {
    display: block;
  }
  .navbar__link__container {
    display: none;
  }
  .navbar__drawer__search {
    display: none;
  }
  .navbar__search {
    margin-top: 20px;
  }
  .navbar__avatar_reponsive {
    display: block;
    height: 40px;
    width: 40px;
  }
}
@include tablet-mini {
  .navbar {
    padding: 20px 30px;
  }
  .navbar__drawer__search {
    display: flex;
  }
}