.admin-menu{
    height: 100%;
    min-height: calc(100vh - 300px);
    width: 300px;
    background-color: $admin-menu-background;
    &.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub{
        background: $admin-menu-background;
    }
    &.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background-color: #262626;
        border-left: 3px solid $secondary;
        box-sizing: inherit;
    }
    &__header{
        background-color: $admin-menu-background;
    }
    &__logo{
        height: 25px;
        margin-left: 12px;
        transform: translate(23px,-5px);
    }
    &__button_collapsed{
        background: transparent;
    }
    &__avatar{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: fill;
        filter: brightness(90%);
        border: 3px solid rgb(70, 64, 64);
    }
    &__title{
        padding: 15px 20px;
        background-color: rgb(17, 16, 16);
        color: gray;
    }
    &__header{
        padding: 20px 0;
        background-color: #000000;
        h6{
            margin-top: 20px;
        }
    }
    &__logout-link{
        color: silver;
    }
}
.ant-btn.ant-btn-default span {
    color: black;
}